<p>文章管理</p>

<%#= link_to "編輯文章", edit_admin_company_article_path() %>
<table class="table">

<table class="table table-bordered">
  <% @articles.each do |article|%>
    <tr>
      <td>
        <%= article.title %>
      </td>
      <td>
        <%= article.content %>
      </td>
      <td>
        <%= link_to "編輯文章", edit_admin_company_article_path(@company,article) %>
      </td>
    </tr>
  <% end %>
</table>