<h3>文章管理</h3>

<p>尚未審核文章</p>
<%= render "form", :articles => @articles_auditing %>
<p>未通過審核文章</p>
<%= render "form", :articles => @articles_failed %>
<p>審核通過文章</p>
<%= render "form", :articles => @articles_pass %>