<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="page-title">
    <h2>文章管理</h2>
    <div class="bolded-line"></div>
  </div>

  <span class="label label-default">尚未審核</span>
  <%= render "form", :articles => @articles_auditing %>
  <br>
  <span class="label label-success">審核通過</span>
  <%= render "form", :articles => @articles_pass %>
  <br>
  <span class="label label-danger">審核未通過</span>
  <%= render "form", :articles => @articles_failed %>
</div>
<div class="col-sm-1"></div>