<h3>投遞紀錄</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>投遞的人</td>
      <td>投遞職缺</td>
      <td>投遞日期</td>
      <td>履歷</td>
    </tr>
  </thead>
  <tbody>
    <% @resumeJobships.each do |resumeJobship| %>
      <tr>
        <td><%= resumeJobship.resume.user.email %></td>
        <td><%= resumeJobship.job.name%></td>
        <td><%= resumeJobship.created_at.strftime("%Y-%m-%d-%H:%M") %></td>
        <td><%= link_to resumeJobship.resume.name, resumeJobship.resume.attachment_url %></td>
      </tr>
    <% end %>
  </tbody>  
</table>