<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="page-title">
    <h2>圖表分析</h2>
    <div class="bolded-line"></div>
  </div>
  <div id="container">
    <%#= bar_chart @companies.group(:scale).count %>
    <% @companies.each do |company| %>
      <%= company.name %>
      <%= analysis_chart(company) %>
    <% end %>
  </div>

</div>
<div class="col-sm-1"></div>

<script type="text/javascript">
</script>