<p>安安這是管理者的後台喔！</p>

<%= link_to "新增公司", new_admin_company_path %>

<table class="table table-bordered">
  <% @company.each do |c|%>
    <tr>
      <td>
        <%= link_to admin_company_path(c) do %>
          <%= c.name%>
        <%end%>
      </td>
      <td>
        <%= link_to "編輯公司", edit_admin_company_path(c) %>
      </td>
    </tr>
  <% end %>
</table>