<p>哈囉，這是首頁！</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>公司名稱</th>
      <th>職缺</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |j| %>
      <tr>
        <th><%= j.company.name %></th>
        <th><%= j.name%></th>
      </tr>

    <% end %>
  </tbody>
</table>

