<h2>編輯職缺</h2>

<%= form_for @job,url: enterprise_company_job_path(@company,@job), method: :PATCH do |j| %>
  <%= render :partial => 'form', :locals => { :j => j } %>
  <br>
  <%= j.submit "更改" %>
<% end %>
