html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #666;
  overflow: hidden;
}

.index-container {
  height: calc(100% - 50px);
  padding: 30px;
  overflow-y: auto;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #fff;

  .navbar-brand {
    font-size: 24px;
    padding: 16px 15px;
    font-family: Anton;
    color: #12BDBC;
  }

  .navbar-brand:hover {
    color: #12BDBC;
  }
}

.navbar-nav .active {
  a:before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #12BDBC;
  }
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
}

.page-title {
	border-bottom: 1px solid #e0e0e0;
	display: block;
  margin: 0 0 25px 0;
  position: relative;
  
  h2 {
    font-weight: normal;
    padding: 0 0 13px 0;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
  }

  span {
    color: #aaa;
  }

}

.bolded-line {
	text-indent: -9999px;
	height: 3px;
	width: 100px;
	display: block;
	background: #12BDBC;
	margin-bottom: -2px;
}

.unit {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	overflow:hidden;
  margin: 20px auto;
  
  a, a:visited { text-decoration: none; -webkit-transition: color 0.1s ease-in-out; -moz-transition: color 0.1s ease-in-out; -o-transition: color 0.1s ease-in-out; -transition: color 0.1s ease-in-out; outline: 0; color: #666; font-family: "微軟正黑體"; font-size: 14px;}
  
	a:hover, a:focus { color: #12BDBC; }
}

.login {
	margin-bottom: 8px;
	float: right ;
}

.border-radius {
	border-radius: 3px;
}

input[type="date"], 
input[type="text"], 
input[type="number"], 
input[type="password"], 
input[type="email"], 
input[type="url"], 
textarea, 
select {
  color: rgb(85, 85, 85);
  width: 100%;
  box-shadow: rgba(180, 180, 180, 0.1) 0px 1px 1px 0px;
  font-size: 13px;
  font-family: 微軟正黑體;
  margin-bottom: 30px;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-image: initial;
  outline: none;
  background: rgb(255, 255, 255);
  padding: 9px;
}

select {
  height: 38px;
}

label {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  font-family: 微軟正黑體;
  margin-bottom: 8px;
}

.btn-success {
	color:#fff;
  background-color:#12BDBC;
  border-color: transparent;
	border-radius:3px;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover, 
.btn-success:active:focus, 
.btn-success:active.focus, 
.btn-success.active:hover, 
.btn-success.active:focus, 
.btn-success.active.focus, {
	color:#fff;
  background-color:#1caab2 !important;
  border-color: transparent;
	border-radius:3px;
}



.btn-fail {
	color:#fff;
	background-color:#aaa;
	border-radius:3px;
}

.btn-fail:focus,
.btn-fail.focus,
.btn-fail:hover {
	color:#fff;
	background-color:#919191;
	border-radius:3px;
}

.button,
input[type="button"] {
	border: 0px;
	font-family: "微軟正黑體";
	cursor: pointer;
	width: auto;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	padding: 14px 16px;
	display: inline-block;
  font-size: 14px;
  outline: none;
}

input[type="button"] {float: left;}

.button.medium {padding: 10px 10px; font-size: 14px;}

table {

  tbody {
    tr td:last-child {
      text-align: center;
      
      a {
        margin: auto 3px;
      }
    }

    a {
      color: #666;
    }

    a:hover, a:focus {
      color: #666;
      text-decoration: underline;
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
}

.dropdown-menu > li > a {
  color: #666;
  padding: 10px 20px;
  font-size: 15px;
}

.dropdown-menu {
  min-width: 135px;
}

.article-status, .job-status, .company-status {
  text-align: center;
}

.article-status a {
  margin: auto 3px;
}

.count {
  text-align: right;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #12BDBC;
}

.panel a {
  color: #12BDBC;
}

.panel a:hover {
  color: #12BDBC;
}

.follow-item li {
  margin-bottom: 10px;

  .collect {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #EA5249;
    font-size: 17px;
    display: inline;
  }

  a {
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 10px 15px 10px 40px;
    border: 1px solid #ddd;
    color: #666;
  }

  a:hover {
    color: #666;
    text-decoration: none;
    background-color: #f5f5f5;
  }
}

.article li {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  border-radius: 3px;
  width: 47%;
  float: left;
  margin: 11px;
  padding: 15px;

  .article-title {
    margin-bottom: 20px;
    text-align: justify;
    height: 48px;

    a {
      font-size: 17px;
      color: black;
      line-height: 24px;
      display: -webkit-box;  
      overflow:hidden;
      text-overflow : ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .article-content {
    font-size: 14px;
    text-align: justify;
    color: #6c6c6c;
    display: -webkit-box;  
    overflow:hidden;
    text-overflow : ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
    margin-bottom: 15px;    
  }

  .article-view {
    font-size: 14px;
    color: #999;
  }
}

.article-info {
  margin-bottom: 20px;

  span, a {
    font-size: 14px;
    color: #999;
  }

  i {
    margin-right: 20px;
  }

  i:last-child {
    margin: 0;
  }
}

.article-page-content {
  padding: 10px;
  text-align: justify;
}

textarea {
  resize: none;
}

.collection-check-box label {
  font-size: 13px;
  font-weight: initial;
}

.page-title a {
  position: absolute;
  top: 0;
  right: 0;
}

.page-title a span {
  color: #ffffff;
}


.company-job-block {
  border-radius: 0.3rem;
  border: 1px solid lightgrey;
  border-left-color: #12BDBC;
  border-left-style: solid;
  border-left-width: 10px;
  padding: 15px 15px;
  margin-bottom: 15px;
  .heart-icon-like{
    color: red;
  }
  .company-job-content{
    max-height: 40px;
    overflow: hidden;
    margin-bottom: 13px;
  }
}

.company-search-btn {
  padding: 0;
  margin-top: 2px;
}

input[type="submit"] {
  outline: 0;
}

.company li {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  border-radius: 3px;
  width: 30.5%;
  float: left;
  margin: 11px;
  padding: 15px;

  img {
    width: 35px;
    height: 35px;
  }

  .company-view {
    font-size: 14px;
    color: #999;
  }

  .company-title {
    margin-bottom: 20px;
    text-align: justify;
    margin-left: 50px;
    margin-top: 5px;

    a {
      font-size: 17px;
      color: black;
      line-height: 24px;
      display: -webkit-box;  
      overflow:hidden;
      text-overflow : ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .company-content {
    font-size: 14px;
    text-align: justify;
    color: #6c6c6c;
    display: -webkit-box;  
    overflow:hidden;
    text-overflow : ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
    margin-bottom: 15px;
  }
}

.button.small {
  padding: 7px 10px;
}

.job li {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  border-radius: 3px;
  width: 30.5%;
  float: left;
  margin: 11px;
  padding: 15px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .job-company {
    margin-bottom: 10px;
    color: #999;

    a {
      color: #999;
    }
  }

  .job-title {
    margin-bottom: 20px;
    text-align: justify;
    margin-top: 5px;

    a {
      font-size: 17px;
      color: black;
      line-height: 24px;
      display: -webkit-box;  
      overflow:hidden;
      text-overflow : ellipsis;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .job-content {
    font-size: 14px;
    text-align: justify;
    color: #6c6c6c;
    display: -webkit-box;  
    overflow:hidden;
    text-overflow : ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
  }

  .job-tag {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;

    a {
      font-size: 14px;
      color: #999;
      line-height: 24px;
    }
  }

  .job-submenu {
    display: inline;

    a {
      margin-left: 5px;
    }
  }

  .job-view {
    font-size: 14px;
    color: #999;
  }
}

.job-page-tag {
  font-size: 14px;
  color: #999;
  margin-top: 15px;
}