.enterprise-block{
  height: calc(100% - 50px);
}

.enterprise-sidebar{
  background-color: #29333f;
  width: 200px;
  float: left;
  color: white;
  height: 100%;

  h2 {
    margin: 35px auto 25px auto;
    text-align: center;
    font-size: 20px;
    color: #12BDBC;
  }

  li {
    a {
      padding: 15px;
      text-align: center;
      display: block;
      font-size: 16px;
      color: white;
      text-decoration: none;
    }

    a:hover, a:focus {
      color: white;
      text-decoration: none;
      background-color: #1c232d;
    }
  }
}



ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.enterprise-container {
  background-color: #ffffff;
  color: #666;
  height: 100%;
  width: calc(100% - 200px);
  float: left;
  padding: 30px;
  overflow-y: auto;

  .page-title {
    position: relative;

    h2 {
      color: #666;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
    }

    span {
      color: #ffffff;
    }
  }
}

/*.cancel-admin-user{
  display: inline-block;
  width: 50px;
  input[type="text"] {
    width: 40px;
  }
}*/

/* Clear Float */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
*zoom: 1; /* For IE 6&7 only */
}