<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="unit">
    <div class="page-title">
      <h2>新增管理者</h2>
      <div class="bolded-line"></div>
    </div>
    <br>
      <div class="login">
        <%#= j.submit "新增", :class => "button btn-success medium" %>
        <%= link_to '返回', admin_users_path, :class => "button btn-fail medium" %>
      </div>
    <%# end %>
  </div>
</div>
<div class="col-sm-2"></div>