  <%#= form_for @resumeJobship,:url => apply_company_job_path(j.company,j), method: :post do |f| %>
    <!-- <div class="login"> -->
      <%#= f.submit "投遞", :class => "button btn-success medium" %>
      <%#= link_to '取消', root_path, :class => "button btn-fail medium" %>
    <!-- </div> -->
  <%# end %>


  <%= form_for @resumeJobship,:url => apply_company_job_path(@company, @job), method: :post do |f| %>
    <%= f.text_area :recommend_letter %>
    <p>如果有填好的推薦信的話，會讓你有更好的機會被企業看見喔～</p>
    
    <div class="login">
      <%= f.submit "投遞", :class => "button btn-success medium" %>
      <%= link_to '取消', root_path, :class => "button btn-fail medium" %>
    </div>
  <% end %>