<h3>投遞紀錄</h3>

<% if @resumeJobships.present? %>
  <% @resumeJobships.each do |resumeJobship| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= resumeJobship.job.company.name %> - <%= resumeJobship.job.name %>
      </div>
      <div class="panel-body">
        <%= link_to resumeJobship.resume.name, resumeJobship.resume.attachment_url %>
        <br>
        投遞日期：<%= resumeJobship.created_at.strftime("%Y-%m-%d-%H:%M") %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>目前尚無履歷投遞！</p>
<% end %>