<p>企業管理後台</p>

<ul>
  <li><%= link_to "公司管理", edit_enterprise_company_path(current_user.company) %></li>
  <li>投遞紀錄</li>
  <li><%= link_to "文章管理", enterprise_company_articles_path(current_user.company) %></li>
  <li><%= link_to "職缺管理", enterprise_company_jobs_path(current_user.company) %></li>
</ul>