<h2>企業管理</h2>
<ul>
  <li>
    <%= link_to enterprise_companies_path do %>
      <i class="fa fa-edit"></i>
      <span>&nbsp;編輯企業資料</span>
    <% end %>
  </li>
  <li>
    <%= link_to do %>
      <i class="fa fa-paper-plane-o"></i>
      <span>&nbsp;應徵紀錄</span>
    <% end %>
  </li>
   <li>
    <%= link_to enterprise_company_jobs_path(current_user.company) do%>
      <i class=""></i>
      <span>&nbsp;職缺管理</span>
    <% end %>
  </li>
  <li>
    <%= link_to enterprise_company_articles_path(current_user.company) do %>
      <i class="fa fa-newspaper-o"></i>
      <span>&nbsp;文章</span>
    <% end %>
  </li>
</ul>